* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

input[type="checkbox"],
label {
  margin: 0;
  padding: 0;
}

label {
  margin-bottom: 1rem;
  line-height: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

label:hover input[type="checkbox"] + svg.checkbox .checkbox-box {
  fill: black;
  fill-opacity: 0.05;
}

label input[type="checkbox"] {
  display: none;
}

label input[type="checkbox"]:checked + svg.checkbox .checkbox-mark {
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 0.2s linear;
  transition: stroke-dashoffset 0.2s linear;
}

label svg.checkbox {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

label svg.checkbox .checkbox-box,
label svg.checkbox .checkbox-mark {
  fill: none;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 8px;
}

label svg.checkbox .checkbox-mark {
  stroke-linejoin: round;
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
}

label span.label-text {
  font-size: small;
  font-weight: bold;
}
