$background-color: rgb(10, 10, 10);
$checkbox-color: white;
$checkbox-width: 1.5rem;
$checkbox-height: 1.5rem;

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
}

// checkbox
input[type="checkbox"],
label {
  margin: 0;
  padding: 0;
}

label {
  margin-bottom: 1rem;
  line-height: 1;
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &:hover {
    input[type="checkbox"] + svg.checkbox {
      .checkbox-box {
        fill: rgb(0, 0, 0);
        fill-opacity: 0.05;
      }
    }
  }

  input[type="checkbox"] {
    display: none;
    &:checked + svg.checkbox {
      .checkbox-mark {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 0.2s linear;
      }
    }
  }

  svg.checkbox {
    width: $checkbox-width;
    height: $checkbox-height;
    margin-right: 0.5rem;

    .checkbox-box,
    .checkbox-mark {
      fill: none;
      stroke: $checkbox-color;
      stroke-linecap: round;
      stroke-width: 8px;
    }

    .checkbox-mark {
      stroke-linejoin: round;
      stroke-dasharray: 120;
      stroke-dashoffset: 120;
    }
  }

  span.label-text {
    font-size: small;
    font-weight: bold;
    color: $checkbox-color;
  }
}

.reverse {
  stroke-dashoffset: 120;
  transition: stroke-dashoffset 0.2s linear;
}
